services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db
  db:
      image: postgres:15-alpine 
      restart: always
      environment:
        POSTGRES_USER: alvaro
        POSTGRES_PASSWORD: alva123
        POSTGRES_DB: firs-project
      ports:
        - "5432:5432" 
      volumes:
        - postgres_data:/var/lib/postgresql/data
  admirer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
volumes:
  postgres_data: